body, html{
    min-width: 100vw;
    min-height: 100vh;

    overflow-y: hidden;
}

body{
    color: var(--seventh-color);
    font-family: var(--font-family-1);

    display: flex;
    
    background-color: var(--third-color);
}

header{
    z-index: 2;
    --translate: 0%;

    display: flex;

    gap: 20px;
}

#menu-button, #explanation-button{
    display: none;
    position: absolute;

    border: unset;

    background-color: transparent;
    background-repeat: no-repeat;
}

#menu-button{
    top: 20px;
    left: 40px;

    width: 40px;
    aspect-ratio: 1;

    background-image: url(../../images/icon/menu.svg);
}

#explanation-button{
    top: 1px;
    right: 14px;

    width: 64px;
    height: 114px;

    transform: scale(0.6);
    background-image: url(../../images/icon/explanation.svg);
}

#animation{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

#dark-screen{
    display: none;

    z-index: 1;
    position: absolute;

    width: 100%;
    height: 100%;

    border: unset;
    background-color: var(--fifth-color);
}

#landscape-note{
    z-index: 9999;
    display:none; 
}

@media only screen and (orientation:portrait){
    #landscape-note{
        display: flex;
    }
  }

@media screen and (max-width: 1315px),screen and (max-height: 800px){
    body{
        --font-size-1: 30px;
        --font-size-2: 24px;
    }

    #menu-button {
        display: block;
    }
    
}

@media screen and (min-width: 1315px){
    #menu-button {
        display: none !important;;
    }
}

@media screen and (max-width: 1315px){
    header{
        display: none;
    }
}

@media screen and (min-width: 1315px){
    header{
        display: flex !important;
    }
}